<a href="https://colab.research.google.com/github/Churabros/Car-Rental-System/blob/main/Phase_2_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Phase 3 Project
##Group Members


1.   Yusuf Ali
2.   Winny Chepkoech
3.   Festus Muchemi
4.   Krop Leonard

# Business Problem
Blank

# Main Objectives
Blank

#Data Understanding
The Data that was used for this analysis will be pulled from Three Diffrent sources

`tn.movie_budgets.csv`

* **Source**: Blank
* **Contents**: Blank
* **Format**: Blank

`tmdb.movies.csv`

* **Source**: Blank
* **Contents**: Blank
* **Format**: Blank

`rt.movie_info.tsv`

* **Source**: Blank
* **Contents**: Blank
* **Format**: Blank

**Inserting Relevant Libraries to help in analysing the data**

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt
import seaborn as sns
import sqlite3

**Import Relevant Libraries That will be used in the analysis**

In [54]:
#Imported Datasets
df_budget = pd.read_csv('/content/tn.movie_budgets.csv.gz')
df_tmdf = pd.read_csv('/content/tmdb.movies.csv.gz')
df_gross = pd.read_csv('/content/bom.movie_gross.csv.gz')
df_rt = pd.read_csv('/content/rt.movie_info.tsv.gz', sep='\t')
df_rev = pd.read_csv('/content/rt.reviews.tsv.gz', sep='\t', encoding='latin1') # Try using 'latin1' encoding
df_info = pd.read_csv('/content/rt.movie_info.tsv.gz', sep='\t')
path = '/content/im.db'
conn = sqlite3.connect(path)

#Data Exploration

In [55]:
df_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [24]:
df_rt.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [25]:
df_rt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [18]:
# Yusuf Ali
df_budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [21]:
df_budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [19]:
# Yusuf Ali
df_tmdf.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [22]:
df_tmdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [20]:
# Yusuf Ali
df_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [33]:
# Yusuf Ali
df_imdb = pd.read_sql(
    """
    SELECT *
    FROM sqlite_master
    """
, conn
)

df_imdb

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [57]:
query = """ SELECT *
            FROM movie_ratings rat
            JOIN  movie_akas ak
            ON rat.movie_id = ak.movie_id
            JOIN movie_basics mb
            ON ak.movie_id = mb.movie_id

            LIMIT 5 """
pd.read_sql(query,conn)

,movie_id,averagerating,numvotes,movie_id,ordering,title,region,language,types,attributes,is_original_title,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt1042974,6.4,20,tt1042974,1,Just Inès,None,None,original,None,1.0,tt1042974,Just Inès,Just Inès,2010,90.0,Drama
1,tt1042974,6.4,20,tt1042974,2,Samo Ines,RS,None,imdbDisplay,None,0.0,tt1042974,Just Inès,Just Inès,2010,90.0,Drama
2,tt1042974,6.4,20,tt1042974,3,Just Inès,GB,None,None,None,0.0,tt1042974,Just Inès,Just Inès,2010,90.0,Drama
3,tt1043726,4.2,50352,tt1043726,1,Legenda lui Hercule,RO,None,working,None,0.0,tt1043726,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
4,tt1043726,4.2,50352,tt1043726,2,La légende d'Hercule,FR,None,imdbDisplay,None,0.0,tt1043726,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"

In [41]:
print(type(df_imdb))

<class 'pandas.core.frame.DataFrame'>

In [49]:
columns_to_keep = [ 'averagerating', 'numvotes', 'title', 'region', 'language', 'types', 'start_year', 'runtime_minutes', 'genres']
df_imdb = df_imdb.loc[:,~df_imdb.columns.duplicated()]
df_cleaned = df_imdb[columns_to_keep]
df_cleaned.head()

,averagerating,numvotes,title,region,language,types,start_year,runtime_minutes,genres
0,6.4,20,Just Inès,None,None,original,2010,90.0,Drama
1,6.4,20,Samo Ines,RS,None,imdbDisplay,2010,90.0,Drama
2,6.4,20,Just Inès,GB,None,None,2010,90.0,Drama
3,4.2,50352,Legenda lui Hercule,RO,None,working,2014,99.0,"Action,Adventure,Fantasy"
4,4.2,50352,La légende d'Hercule,FR,None,imdbDisplay,2014,99.0,"Action,Adventure,Fantasy"

# Data Cleaning

Blank

In [50]:
merged_df = df_budget.merge(df_tmdf, left_on='movie', right_on='title', how='left').merge(df_cleaned, left_on = 'movie', right_on='title', how = 'left')

# Checking the first few rows of the merged dataframe
merged_df.head(25)

,id_x,release_date_x,movie,production_budget,domestic_gross,worldwide_gross,Unnamed: 0,genre_ids,id_y,original_language,...,vote_count,averagerating,numvotes,title_y,region,language,types,start_year,runtime_minutes,genres
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",6.0,"[28, 12, 14, 878]",19995.0,en,...,18676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2470.0,"[12, 28, 14]",1865.0,en,...,8571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",14169.0,"[28, 12, 878]",99861.0,en,...,13457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",23811.0,"[12, 28, 14]",299536.0,en,...,13948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",20623.0,"[28, 12, 14, 878]",141052.0,en,...,7510.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",23830.0,"[28, 12, 14, 878]",141052.0,en,...,7510.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923",14175.0,"[28, 12, 80]",206647.0,en,...,6719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923",17386.0,"[28, 12, 80]",206647.0,en,...,6719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",5182.0,"[28, 80, 18, 53]",49026.0,en,...,13933.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",23845.0,"[28, 12, 878]",348350.0,en,...,3838.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",7967.0,"[28, 12, 37]",57201.0,en,...,3789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100",5197.0,"[28, 12, 878]",49529.0,en,...,3338.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240",13.0,"[16, 10751]",38757.0,en,...,6407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",17382.0,"[12, 28, 878]",271110.0,en,...,14000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281",17390.0,"[28, 12, 14]",209112.0,en,...,11991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",5180.0,"[12, 14, 28]",49051.0,en,...,12076.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855",7890.0,"[12, 14, 28]",57158.0,en,...,7739.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621",11020.0,"[28, 12, 14]",122917.0,en,...,8392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267",20630.0,"[28, 80, 53]",337339.0,en,...,6335.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# EDA(Exploritary data analysis)

## Univariate Analysis

## Bivariate Analysis

## multivariate Analysis

In [61]:
!git status

fatal: not a git repository (or any of the parent directories): .git

# Conclusions

# Reccomendations